<div class="container">
  <style>
  body {background-color:lightgray}

</style>
  <h1 style= "text-align:center">Decks of Destiny</h1>
<img src="http://i57.tinypic.com/xnripk.gif" border="0" alt="Image and video hosting by TinyPic" ></a>
  <h2 style= "text-align:center">Choose your fate!</h2>

  <table>

    <tr>
      <td><form action="/signin" method = "post">
          Email: <input type="text" name="email">
          Password: <input type="text" name="password" >
          <p><input type="submit" value="SIGN IN"></td></p>
        </form></td>
    </tr>

  </table>

  <table>
  <td>Don't have an account? Take a step into the black hole!
    <a href="/signup">SIGN UP!</a></td>
  </table>

</div>
