<div class="container">
  <h1>Sign Up Here!</h1>

  <table>

    <tr>
      <td><form action="/signup/success" method = "post">
          Email: <input type="text" name="user[email]">
          Password: <input type="text" name="user[password]" >
          <p><input type="submit" value="SIGN UP"></br></p>
        </form></td>

    </tr>

  </table>
</div>